<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="icon" type="image/x-icon" href="/images/favicon.png">
  </head>
  <body>
	<nav class="navbar navbar-dark bg-dark">
	  <div class="container-fluid">
		  <span class="navbar-brand h1" style="font-size: 1.5rem; font-weight: bolder;">Recipe Book</span>
	  </div>
	</nav>
	<div class='row container-fluid d-flex justify-content-center p-5'>
		<% recipes.forEach( (recipe) => {%>
			<div class="card m-3 border border-0" style="max-width: 540px;">
				<a href="<%= '/recipes/' + recipe.name.toLowerCase().replaceAll(' ', '_') %>" style="text-decoration: none; color: black">
					<div class="row g-0">
						<div class="col-md-4">
							<img src="<%= recipe.image %>" class="img-fluid rounded" alt="<%= recipe.name %>">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title pb-2"><%= recipe.name %></h5>
								<p class="card-text"><%= recipe.description %></p>
								<p class="card-text"><small class="text-muted"><%= recipe.author %></small></p>
							</div>
						</div>
					</div>
				</a>
			</div>
		<% }) %>
	</div>	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
