<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= recipe.name %> Recipe
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand h1" style="font-size: 1.5rem; font-weight: bolder;">Recipe Book</span>
      <a href="/home">
        <button class="btn btn-sm btn-outline-secondary" type="button">Home</button>
      </a>
    </div>
  </nav>
  <div class="container">
    <div class="d-flex display-3 p-4 justify-content-center">
      <%= recipe.name %>
    </div>
    <div class="h5 d-flex justify-content-center text-muted py-5 pt-0">
      <%= recipe.description %>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-12 d-flex justify-content-center">
        <img src="<%= recipe.image %>" alt="<%= recipe.name %>" class="img-fluid rounded py-2" style="max-height: 550px;">
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="p-5" style="font-size: 1.1rem; ">
          <div class="row p-2">
            <div class="col-lg-4 col-sm-12">
              Author
            </div>
            <div class="col-lg-8 col-sm-12 text-muted">
              <%= recipe.author %>
            </div>
          </div>
          <div class="row p-2">
            <div class="col-lg-4 col-sm-12">
              Cooking Time
            </div>
            <div class="col-lg-8 col-sm-12 text-muted">
              <%= recipe.time %> mins
            </div>
          </div>
          <div class="row p-2">
            <div class="col-lg-4 col-sm-12">
              Serves
            </div>
            <div class="col-lg-8 col-sm-12 text-muted">
              <%= recipe.serves %>
            </div>
          </div>
          <div class="row p-2">
            <div class="col-lg-4 col-sm-12">
              Nutrition
            </div>
            <div class="col-lg-8 col-sm-12 text-muted">
              <%= recipe.nutrition.calories + ' cals, ' + recipe.nutrition.fat + ' g fats' %>
            </div>
          </div>
          <div class="row p-2">
            <div class="col-lg-4 col-sm-12">
              Category
            </div>
            <div class="col-lg-8 col-sm-12 text-muted">
              <%= recipe.category %>
            </div>
          </div>
          <div class="row p-2">
            <div class="col-lg-4 col-sm-12">
              Course
            </div>
            <div class="col-lg-8 col-sm-12 text-muted">
              <%= recipe.course %>
            </div>
          </div>
          <div class="row p-2">
            <div class="col-lg-4 col-sm-12">
              Cuisine
            </div>
            <div class="col-lg-8 col-sm-12 text-muted">
              <%= recipe.cuisine %>
            </div>
          </div>
          <div class="row p-2">
            <div class="col-lg-4 col-sm-12">
              Technique
            </div>
            <div class="col-lg-8 col-sm-12 text-muted">
              <%= recipe.technique %>
            </div>
          </div>
          <div class="row p-2">
            <div class="col-lg-4 col-sm-12">
              Difficulty
            </div>
            <div class="col-lg-8 col-sm-12 text-muted">
              <%= recipe.difficulty %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-flex justify-content-center">
    <div class="row p-5">
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="display-6">Ingredients</div>
        <div class="row py-3">
          <% recipe.ingredients.forEach((ingredient)=> { %>
            <div class="col-1">
              <input type="checkbox">
            </div>
            <div class="col-11">
              <p class="text-muted">
                <%= ingredient %>
              </p>
            </div>
            <% }) %>
        </div>
      </div>
      <div class="col-lg-9 col-md-8 col-sm-12">
        <div class="display-6">Directions</div>
        <div class="row py-3">
          <% let i=0; recipe.directions.forEach((step)=> { i++;%>
            <div class="col-1">
              <p>
                <%= i %>
              </p>
            </div>
            <div class="col-11">
              <p class="text-muted">
                <%= step %>
              </p>
            </div>
            <% }) %>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>