*{
	margin: 0;
	padding: 0;
}

h1{
	text-align: center;
	padding: 20px;
}

.container{
	display: flex;
	flex-direction: row;
  	justify-content: center;
  	padding: 50px;
	/* border: 3px solid black; */
}

.container > label, input {
	margin: 10px;
	padding: .5em;
	display: flex;
}
